body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.content {
    padding: 20px;
    min-height: 200vh; /* Symulacja długiej strony */
}

.sticky-footer {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #a9a9a9; /* szary kolor */
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 60px 0; /* Zwiększona wielkość stopki */
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Wyrównanie na lewej i prawej stronie */
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content img {
    width: 200px; /* Powiększone zdjęcie */
    height: 200px; /* Powiększone zdjęcie */
    border-radius: 50%;
    margin-right: 30px; /* Większa przestrzeń między zdjęciem a tekstem */
}

.footer-content div {
    display: flex;
    flex-direction: column;
    text-align: left; /* Tekst w stopce po lewej */
}

.footer-content h2 {
    margin: 0;
    font-size: 6em; /* Bardzo duża czcionka */
    font-weight: bold; /* Pogrubienie tekstu */
}

.phone-symbol, .email-symbol, .birthday-symbol, .home-symbol, .location-symbol {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    margin-top: 10px;
}

.phone-symbol i, .email-symbol i, .birthday-symbol i, .home-symbol i, .location-symbol i {
    margin-right: 10px;
}

.phone-symbol p, .email-symbol p, .birthday-symbol p, .home-symbol p, .location-symbol p {
    margin: 0;
    font-size: 1.2em; /* Zmniejszona czcionka dla symboli */
}

.footer-content .right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
