/* Ogólne style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* Stopka */
.footer {
    background-color: #ff69b4; /* Różowy kolor */
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}

/* Kontener gifa */
.gif-container {
    margin-top: 20px;
    text-align: center;
}

.gif-container img {
    max-width: 100%;
    height: auto;
}
